.timer {

   position: relative;
   margin-bottom: 40px;
   width: 250px;
   height: 250px;
   background-color: rgba(255, 255, 255, 0.064);
   border-radius: 50%;

   &--count {
      font-size: 4rem;
      font-weight: 500;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
   }

}