.timer--container::before {
   display: block;
   content: ' ';
   height: 70px;
}


.timer--container {
   height: 100vh;
   background-color: beige;
   display: flex;
   flex-direction: column;
   align-items: center;
  // background-image: linear-gradient(to right, #009ffd, #2480db, #2d62b8, #2e4595, #2a2a72);
   
   
   &--sections {

      height: 70vh;
      margin-top: 20px;
      width: 450px;

      display: flex;
      justify-content: space-between;
      align-items: center;


      .time--display {
         margin: 0 auto;
         display: flex;
         flex-direction: column;

         align-items: center;
         justify-content: space-around;
      }
   }
}

@keyframes bg-animation {

   0% {
      background-position: left ;
   }

   100%{
      background-position: right ;
   }
}