.time--handlers {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 40px;
  // border: 1px solid aqua;
   height: 60px;
   width: 100%;



   .handler {

      font-size: 1.06rem;
      font-family: "Noto Sans", sans-serif;
      font-weight: 500;

      background-color: rgb(0, 255, 183);
      border: none;
      width: 60px;
      height: 60px;
      border-radius: 50%;

      filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.275));


      cursor: pointer;
   }
}