
.landing::before {
   display: block;
   content:' ';
   height: 70px;
}

.landing {
   background-color: blue;
   height: 100vh;

   display: flex;
   flex-direction: column;
   align-items: center;


   &--welcome {
      margin-top: 60px;
      color: greenyellow;
   }


   &--cards {
      margin-top: 140px;
      display: flex;
      flex-direction: row;
   }
}