
.landing::before {
   display: block;
   content:' ';
   height: 70px;
}

.landing {
   background-image: linear-gradient(to top, #03e5b7, #00d0d4, #00b8ea, #009bef, #037ade);
   height: 100vh;

   display: flex;
   flex-direction: column;
   align-items: center;


   &--welcome {
      text-align: center;
      margin-top: 50px;
      color: white;
      padding-inline: 10px;
      text-shadow: 2px 2px  5px rgba(0, 0, 0, 0.072);
   }


   &--cards {
      margin-top: 80px;
      display: flex;
      flex-direction: row;
   }
}