@media (min-width: 601px) and (max-width: 960px) {
   .timer {
      margin-bottom: 15px;
   }

   .wave--container {
      height: 15%;
   }
}




@media (max-width: 600px) {

   .navbar {
      height: 60px;
   }

   .landing {
      height: auto;

      &--welcome {
         text-align: center;

         margin-top: 40px;
         padding: 0 10px;
      }

      &--cards {
         margin-top: 70px;
         flex-direction: column;
      }

   }

   .card {
      transform: scale(0.85);
   }

   .buttons {
      width: 40px;
      height: 40px;
      font-size: 0.80rem;
      margin-top: 15px;
   }

   .timer--container--sections {
      height: 60vh;
      width: 335px;
   }

   .timer {
      margin-bottom: 15px;
   }

   .wave--container {
      height: 13%;
   }

}