.timer--container::before {
   display: block;
   content: ' ';
   height: 70px;
}

.timer--container {
   height: 100vh;
   background-color: beige;
   display: flex;
   flex-direction: column;
   align-items: center;

   &--sections {

      border: 2px solid black;
      height: 70vh;
      margin-top: 50px;

      display: flex;
      align-items: center;


      .time--display {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-around;


         .time {

            display: flex;
            justify-content: center;
            align-items: center;
            width: 250px;
            height: 250px;
            border: 1px solid red;
            border-radius: 50%;
         }

         .play {
            margin-top: 40px;
            border-radius: 50%;
            background-color: aqua;

            height: 50px;
            width: 50px;
         }

      }

   }

}