.wave--container {
   width: 100%;
   position: fixed;
   bottom: 0;
   height: 18%;
   overflow: hidden;
}

.wave--one {
   position: relative;
   width: 100%;
   bottom: -5px;
}

.wave--two {
   position: absolute;
   left: 0;
}