@import "navbar";
@import "home";
@import "card";
@import "timer/timer-display";
@import "timer/timer-handlers";
@import "timer/timer-buttons";
@import "timer/_timer-waves";
@import "modal";


html, body {
   height: 100%;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.route--link {
   text-decoration: none;
}