@import "navbar";
@import "home";
@import "card";
@import "timer/timer";
@import "timer/timer-buttons";

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.route--link {
   text-decoration: none;
}